<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost/wpbdb</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">Sterno95</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.query.factory_class">org.hibernate.hql.internal.classic.ClassicQueryTranslatorFactory</property>
    <property name="hibernate.hbm2ddl.auto">create</property>

    <mapping class="wpb.entity.Role"/>
    <mapping class="wpb.entity.Item"/>
    <mapping class="wpb.entity.FoodClass"/>
    <mapping class="wpb.entity.OrderItem"/>
    <mapping class="wpb.entity.Reservation"/>
    <mapping class="wpb.entity.Restaurant"/>
    <mapping class="wpb.entity.RoomTable"/>
    <mapping class="wpb.entity.TableOrder"/>
    <mapping class="wpb.entity.TakeawayOrder"/>
    <mapping class="wpb.entity.User"/>
    <mapping class="wpb.entity.UserSession"/>
  </session-factory>
</hibernate-configuration>
